/*Link to MSA Central
*********************/

/*background Image
*********************/

body {
  background: url(../../data/images/181101.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Following makes the caption text horizontal aligned*/

div {
  text-align: center;
}

/*Caption for the Image
*********************/

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 10px;
  /*Following keeps the background limited to the text within*/
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

/*Style Footer Button
*********************/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 1rem;
  text-align: center;
}

footer ul {
    margin: auto;
    width: 300px;
    padding-left: 0px;
}

footer ul li{
    padding: 15px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

footer ul li a img {
    list-style: none;
    height: 50px;
    width: 50px;
    margin: auto;
    transform: scale(1);
    transform-origin: bottom center;
    transition: transform ease-in-out .3s;
}

footer ul li a img:hover {
    transform: scale(1.5);
    transform-origin: bottom center;
    transition: transform ease-in-out .025s;
}