/*Link to MSA Central
*********************/

/*background Image
*********************/

body {
  background: url(../../data/images/180613.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/*Following makes the caption text horizontal aligned*/

div {
  text-align: center;
}

/*Caption for the Image
*********************/

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 10px;
  /*Following keeps the background limited to the text within*/
  display: inline-block;
  border: 1px solid rgba(252, 252, 252, 0.6);
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(252, 252, 252, 0.5);
  margin-top: 0;
}

/*Style Footer Button
*********************/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: none;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

footer a:link {
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
}

footer a:hover {
  color: Black;
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid black;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
