/*Link to MSA Central
*********************/

/*background Image
*********************/

body {
  background: url(../../data/images/190315.JPG) no-repeat center center fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*Following makes the caption text horizontal aligned*/

div {
  text-align: center;
}

/* Styling Video */

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

/*Caption for the Image
*********************/

h4 {
  user-select: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: rgb(0,144,240);
  text-align: center;
  padding-top: 10px;
  /*Following keeps the background limited to the text within*/
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  background-color: white;
  margin-top: 0;
  box-shadow: 0px 5px 20px black;
  transition: box-shadow ease-in-out .3s;
}

h4:hover {
  box-shadow: 0px 1px 5px black;
  transition: box-shadow ease-in-out .025s;
}

/*Style Footer Button
*********************/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 1rem;
  text-align: center;
}

footer ul {
    margin: auto;
    width: 300px;
    padding-left: 0px;
}

footer ul li{
    padding: 15px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

footer ul li a img {
    list-style: none;
    height: 30px;
    width: 30px;
    margin: auto;
    transform: scale(1);
    transform-origin: bottom center;
    transition: transform ease-in-out .3s;
    border: 0px solid transparent;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 10px 20px black;
}

footer ul li a img:hover {
    transform: scale(1.5);
    transform-origin: bottom center;
    transition: transform ease-in-out .025s;
}