/*Link to MSA Central
*********************/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color:red;*/
  text-align: center;
}
footer a{
  color:white;
  font-family: 'Montserrat', sans-serif;
}
footer a:link{
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}


/*Caption for the Image
*********************/
h4{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #cccccc;
  text-align:center;
  padding-top:50px;
}


/*background Image
*********************/
html {
  background: url(../images/01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
