/*Link to MSA Central
*********************/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(226, 211, 147, 0.3);
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

footer a:link {
  text-decoration: none;
}

footer a:hover {
  background-color: rgba(226, 211, 147, 0.7);
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}


/*Caption for the Image
*********************/

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 50px;
  /*Following keeps the background limited to the text within*/
  display: inline-block;
  border: 1px solid rgba(252, 252, 252, 0.5);
  padding: 5px;
  background-color: rgba(252, 252, 252, 0.5);
}


/*Following makes the caption text horizontal aligned*/

div {
  text-align: center;
}


/*background Image
*********************/

html {
  background: url(../images/170721.jpg) no-repeat center center fixed;
  background-size: cover;
}
