/*This style sheet is for all the MSA tools*/


/*Sections that contain tools*/

section {
  background: rgb(159, 225, 237);
  width: 20%;
  padding: 20px;
  border-radius: 10%;
  display: inline-table;
}


/*Adding margin to the tool on the right*/

section {
  margin-left: 10px;
}

div {
  display: inline-block;
}

label {
  display: inline;
  float: left;
  clear: left;
  width: 60px;
  text-align: left;
}

.radio {
  margin-bottom: 10px;
}

.inputs input {
  display: inline-block;
  float: left;
}

#inputs {
  margin-top: 10px;
}
