/*This style sheet is for all the MSA tools*/

body {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

section {
  background-color: #f1f1f1;
  box-shadow: 3px 3px 5px lightgray;
  padding: 20px;
  margin: 2px;
  flex: 0 1 30%;
}

div {
  display: inline-block;
}

label {
  display: inline;
  float: left;
  clear: left;
  text-align: left;
}

.radio {
  margin-bottom: 10px;
}

.inputs input {
  display: inline-block;
  float: left;
  margin-bottom: 5px;
}

.inputs {
  margin-top: 10px;
}

/*Description of Tools
--------------------------------------- */

.notes {
  display: none;
  border-left: 2px solid rgb(240, 111, 114);
  padding-left: 10px;
}

.info {
  display: inline-block;
  float: right;
  width: 25px;
  cursor: help;
}

.info:hover ~ .notes {
  display: inline-block;
}

/* Turn Radio buttons of Water Requirement as block
--------------------------------------- */

#WRData lable {
    display: block;
}

/* Style the Scroll-Bar
--------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track { 
    background-color: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #80bfff; 
  border-radius: 10px;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #41A0F2; 
}